VITE_APP_ENV=development
VITE_APP_URL=http://localhost:5173
VITE_SITE_NAME=Dr. Alejandro Varela
VITE_CONTACT_EMAIL=consulta@dravarela.mx
VITE_CONTACT_PHONE=+528112345678
VITE_MAPS_QUERY=Monterrey, Nuevo León, México
VITE_CAROUSEL_INTERVAL_MS=4200
VITE_FORM_MIN_SUBMIT_MS=3000
